@page "/"

<PageTitle>Index</PageTitle>

<h1>Velkommen til Turtle</h1>

<p>Logikken for tegningen på Star siden ligger i StarDrawing klassen i folderen Drawings.
<ol>
    <li>Prøv at ændre størrelsen af stjernen.</li>
    <li>Prøv at ændre farven på stjernen.</li>
    <li>Prøv at farve stregerne skiftevis blå og sorte.</li>
    <li>Prøv at gøre de blå streger lidt kortere end de sorte.</li>
    <li>Find selv på en ændring</li>
</ol>
</p>

<p>Logikken for tegningen på House siden ligger i HouseDrawing i folderen Drawings.

<ol>
    <li>Prøv at ændre farven på huset.</li>
    <li>Prøv at gøre stregerne smallere.</li>
    <li>Tilføj kode så der kommer vinduer, døre og en skorsten.</li>
    <li>Tilføj en rødt stakit foran huset - og lav dette vha. en iteration i c#.</li>
    <li>Vær kreativ...</li>
</ol>
</p>


